*{
    font-family: 'Montserrat', sans-serif;
}
body{
   
    background: powderblue;
}
.containerLogin{
    font-size: 10px;
    color:blue;
}
.containerSignup{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 10px auto ;
    padding: 20px 20px 20px 20px;
}
.containerSignup *{
    margin: 8px;
}
input{
    padding: 8px;
    border-radius: 0.5em;
}
button{
    padding: 8px;
    border-radius: 0.5em;
    background: white;
    font-weight: bold;
    color: blue;                 

}